<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.cordova.mobile.information" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>UID</name><js-module name="UID" src="www/UID.js"><clobbers target="cordova.plugins.UID" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="UID"><param name="android-package" value="org.cordova.mobile.information.UID" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/UID.java" target-dir="src/org/cordova/mobile/information/UID" /></platform></plugin>